<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ll.pmdou.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="ll.pmdou.domain.Employee">
    <id column="e_id" jdbcType="INTEGER" property="eId" />
    <result column="e_name" jdbcType="VARCHAR" property="eName" />
    <result column="e_pass" jdbcType="VARCHAR" property="ePass" />
    <result column="e_did" jdbcType="INTEGER" property="eDid" />
    <result column="e_uptime" jdbcType="TIMESTAMP" property="eUptime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    e_id, e_name, e_pass, e_did, e_uptime
  </sql>
  <select id="selectByExample" parameterType="ll.pmdou.domain.EmployeeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from employees
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from employees
    where e_id = #{eId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from employees
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ll.pmdou.domain.EmployeeExample">
    delete from employees
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ll.pmdou.domain.Employee">
    insert into employees (e_id, e_name, e_pass, 
      e_did, e_uptime)
    values (#{eId,jdbcType=INTEGER}, #{eName,jdbcType=VARCHAR}, #{ePass,jdbcType=VARCHAR}, 
      #{eDid,jdbcType=INTEGER}, #{eUptime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ll.pmdou.domain.Employee">
    insert into employees
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        e_id,
      </if>
      <if test="eName != null">
        e_name,
      </if>
      <if test="ePass != null">
        e_pass,
      </if>
      <if test="eDid != null">
        e_did,
      </if>
      <if test="eUptime != null">
        e_uptime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eId != null">
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="eName != null">
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="ePass != null">
        #{ePass,jdbcType=VARCHAR},
      </if>
      <if test="eDid != null">
        #{eDid,jdbcType=INTEGER},
      </if>
      <if test="eUptime != null">
        #{eUptime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ll.pmdou.domain.EmployeeExample" resultType="java.lang.Long">
    select count(*) from employees
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update employees
    <set>
      <if test="record.eId != null">
        e_id = #{record.eId,jdbcType=INTEGER},
      </if>
      <if test="record.eName != null">
        e_name = #{record.eName,jdbcType=VARCHAR},
      </if>
      <if test="record.ePass != null">
        e_pass = #{record.ePass,jdbcType=VARCHAR},
      </if>
      <if test="record.eDid != null">
        e_did = #{record.eDid,jdbcType=INTEGER},
      </if>
      <if test="record.eUptime != null">
        e_uptime = #{record.eUptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update employees
    set e_id = #{record.eId,jdbcType=INTEGER},
      e_name = #{record.eName,jdbcType=VARCHAR},
      e_pass = #{record.ePass,jdbcType=VARCHAR},
      e_did = #{record.eDid,jdbcType=INTEGER},
      e_uptime = #{record.eUptime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ll.pmdou.domain.Employee">
    update employees
    <set>
      <if test="eName != null">
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="ePass != null">
        e_pass = #{ePass,jdbcType=VARCHAR},
      </if>
      <if test="eDid != null">
        e_did = #{eDid,jdbcType=INTEGER},
      </if>
      <if test="eUptime != null">
        e_uptime = #{eUptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ll.pmdou.domain.Employee">
    update employees
    set e_name = #{eName,jdbcType=VARCHAR},
      e_pass = #{ePass,jdbcType=VARCHAR},
      e_did = #{eDid,jdbcType=INTEGER},
      e_uptime = #{eUptime,jdbcType=TIMESTAMP}
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
</mapper>